* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

header {
    text-align: left;
    padding: 10px;
    box-sizing: border-box;

    overflow: hidden;
    position: absolute;
    background-color: white;
    width: 50px;
    height: 50px;
    z-index: 10;
}

header:hover {
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
}

header .brand {
    display: none;
}

header:after {
    clear: both;
    display: block;
    content: " ";
}

header span.fa-bars {
    float: left;
}


header nav {
    margin-right: 10px;
    float: none;
    display: block;
    height: 0;
    overflow: hidden;
}


header:hover nav {
    height: auto;

}

header nav ul {
    list-style: none;
    display: block;
}

header nav ul li {
    position: relative;
    padding: 5px;
    border: 1px solid grey;
    background-color: white;
    display: block;
    width: 100%;
}

/* Tablet */
@media screen and (min-width: 868px) {
    header {
        position: static;
        width: 100%;
        background-color: cornflowerblue;
        overflow: visible;
    }
    header span.brand {
        display: inline;
    }

    header a[href="#menu"] {
        display: none;
    }
    header nav ul li {
        display: inline-block;
        width: auto;
    }

    header nav ul {
        display: inline-block;
    }

    header nav {
        float: right;
        display: inline-block;
        height: auto;
        overflow: visible;
    }

    header:hover {
        width: 100%;
        height: auto;
    }
}

header nav ul li:hover {
    background-color: cornflowerblue;
}


header nav a[href="#new"] + ul {
    display: none;
    position: absolute;
    right: 0;
    padding: 10px;
    background-color: cornflowerblue;
    text-align: right;
    border: 1px solid grey;
    border-top: none;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
}

header nav a[href="#new"] + ul li {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

header nav a[href="#new"] + ul a:hover {
    text-decoration: underline;
}

header nav a[href="#new"]:hover + ul,
header nav a[href="#new"] + ul:hover {
    display: block;
}

section {
    flex: auto;
}


.game {
    position: relative;
    text-align: center;
}

.game .info {
    padding: 10px;
    box-sizing: border-box;
}

.game .info ul {
    list-style: none;
}

.game .info ul li {
    display: inline-block;
    margin: 10px;
}

.game .info ul li > span.fa {
    margin-right: 5px;
}

.game canvas {
    height: auto;
    max-width: 100%;
}

.game:-webkit-full-screen {
    color: white;
    background-color: black;
}

section.game:-webkit-full-screen a {
    color: white;
}

.game:-moz-full-screen,
.game:-webkit-full-screen,
.game:-ms-fullscreen,
.game:fullscreen {
    background-color: black;
    color: white;
}


.game a[href="#fullscreen"] {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.game canvas:hover + a[href="#fullscreen"],
.game a[href="#fullscreen"]:hover {
    opacity: 1;
}

.highscores {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-100vh);
    margin: 10vh 10vw;
    box-shadow: 10px 10px 10px black;
    background-color: white;
    -webkit-transition: transform 1s ease-out;
    -moz-transition: transform 1s ease-out;
    -ms-transition: transform 1s ease-out;
    -o-transition: transform 1s ease-out;
    transition: transform 1s ease-out;
    z-index: 30;
    text-align: center;
}

.highscores h1 {
    margin-top: 2em;
}

.highscores table {
    margin: 3em auto;
    border-collapse: collapse;
    counter-reset: scores;
}

.highscores table tr::before {
    counter-increment: scores;
    content: counter(scores) ".";
    padding: 10px;
    display: block;
}

.highscores table td {
    padding: 10px;
}

.highscores.opening {
    transform: translateY(0);
}

.highscores table th:last-child,
.highscores table td:last-child {
    text-align: right;
}

.highscores table tr {
    background-color: transparent;
    transition: all 2s;
}

.highscores table tr.new {
    background-color: yellow;
}

.highscores a[href="#close"] {
    position: absolute;
    right: 0;
    top: 0;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
    z-index: 20;
}

.overlay.show {
    display: block;
    background-color: rgba(0,0,0,0.8);
}

footer {
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}