* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: cornflowerblue;
    text-align: left;
    height: 100px;
}

header:after {
    clear: both;
    display: block;
    content: " ";
}

header nav {
    float: right;
    margin-right: 10px;
}

header nav ul {
    display: inline-block;
    list-style: none;
}

header nav ul li {
    display: inline;
}

section {
    flex: auto;
}

section.hidden {
    display: none;
}

.game {
    position: relative;
}

.game .info {
    padding: 10px;
    box-sizing: border-box;
}

.game .info ul {
    list-style: none;
    margin: 0 auto;
}

.game canvas {
    width: 100%;
    height: auto;
}

.game a[href="#fullscreen"] {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.game canvas:hover + a[href="#fullscreen"],
.game a[href="#fullscreen"]:hover {
    opacity: 1;
}

.highscores {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(-100vw);
    margin: 10vw;
    box-shadow: 10px 10px 10px grey;
    background-color: lightgrey;
    -webkit-transition: transform 1s ease-out;
    -moz-transition: transform 1s ease-out;
    -ms-transition: transform 1s ease-out;
    -o-transition: transform 1s ease-out;
    transition: transform 1s ease-out;
    z-index: 10;
}

.highscores.opening {
    transform: translateY(0);
}

.highscores table th:last-child,
.highscores table td:last-child {
    text-align: right;
}

.highscores table tr {
    background-color: transparent;
    transition: all 2s;
}

.highscores table tr.new {
    background-color: yellow;
}

.highscores a[href="#close"] {
    position: absolute;
    right: 0;
    top: 0;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
}

.overlay.show {
    display: block;
    background-color: rgba(0,0,0,0.8);
}

footer {
    height: 30px;
}